# Jupyter Setup

In [ ]:
conda install -c conda-forge nodejs
jupyter labextension install @jupyterlab/toc

source activate sqlstuff
pip install cython
pip install ipython-sql

# Notebook Directory

conda create -n nb_env python=3.7 openpyxl sqlalchemy

In [1]:
%load_ext sql

In [2]:
# Show configuration options
%config SqlMagic

SqlMagic options
--------------
SqlMagic.autocommit=<Bool>
    Current: True
    Set autocommit mode
SqlMagic.autolimit=<Int>
    Current: 0
    Automatically limit the size of the returned result sets
SqlMagic.autopandas=<Bool>
    Current: False
    Return Pandas DataFrames instead of regular result sets
SqlMagic.column_local_vars=<Bool>
    Current: False
    Return data into local variables from column names
SqlMagic.displaylimit=<Int>
    Current: None
    Automatically limit the number of rows displayed (full result set is still
    stored)
SqlMagic.dsn_filename=<Unicode>
    Current: 'odbc.ini'
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
SqlMagic.feedback=<Bool>
    Current: True
    Print number of rows affected by DML
SqlMagic.short_errors=<Bool>
    Current: True
    Don't display the full traceback on SQL Programming Error
SqlMagic.style=<Unicode>
    Current: 'DEFAULT'
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM)

In [17]:
import os
#DATABASE_URL=os.getenv('DB_HEROKU')
#%env DATABASE_URL = os.getenv('DB_HEROKU')
#print(DATABASE_URL)
%sql postgres://hiikokjjrwmqpg:ff6d83e0795990ffb048d526caf295eaad7a45476691991f989be513d4e3a6bb@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76

'Connected: hiikokjjrwmqpg@d617hc9tos6o76'

In [18]:
%sql select * from sessions

 * postgres://hiikokjjrwmqpg:***@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76
11 rows affected.

[(1, 800, 1300),
 (2, 810, 1300),
 (3, 825, 1325),
 (4, 830, 1515),
 (5, 830, 1315),
 (6, 830, 1305),
 (7, 900, 1430),
 (8, 930, 1600),
 (9, 930, 1615),
 (10, 820, 1330),
 (11, 830, 1615)]