https://www.pythonprogramming.in/pandas-examples.html

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from datetime import datetime

In [3]:
my_year=2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [5]:
my_date = datetime(my_year,my_month,my_day)

In [7]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [14]:
first_two = (datetime(2016,1,1),datetime(2016,1,2))

In [16]:
dt_ind = pd.DatetimeIndex(first_two)

In [18]:
data = np.random.randn(2,2)

In [19]:
cols = ['a','b']

In [20]:
df = pd.DataFrame(data,dt_ind,cols)

In [21]:
df

                   a         b
2016-01-01  0.898757  0.778101
2016-01-02 -0.626147  2.048520

In [22]:
df.index.argmax()

1

In [24]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

### Import Data

In [ ]:
df = pd.read_csv('time_data/walmart_stock.csv',index_col='Date',parse_dates=True)Notes

# Frequency Sampling

In [ ]:
# convert str to datetime
df['Date'] = pd.to_datetime(df['Date'])
''