In [61]:
data = [{'start_dt': '01/01/2014', 
         'end_dt': '01/01/2015', 
         'input_vars': [{'name': 'NATR:int', 'val': 35},
                        {'name': 'Frac:double', 'val': 2.25}]},
        {'start_dt': '01/01/2015', 
         'end_dt': '01/01/2016', 
         'input_vars': [{'name': 'NATR:int', 'val': 30},
                        {'name': 'Frac:double', 'val': 2.15}]},
       ]
d1 = {'start_dt': '01/01/2014', 
         'end_dt': '01/01/2015', 
         'input_vars': [{'name': 'NATR:int', 'val': 35},
                        {'name': 'Frac:double', 'val': 2.25}]}
d2 = {'start_dt': '01/01/2015', 
         'end_dt': '01/01/2016', 
         'input_vars': [{'name': 'NATR:int', 'val': 30},
                        {'name': 'Frac:double', 'val': 2.15}]}
data2 = []
data2.append(d1)
data2.append(d2)
data2

[{'start_dt': '01/01/2014',
  'end_dt': '01/01/2015',
  'input_vars': [{'name': 'NATR:int', 'val': 35},
   {'name': 'Frac:double', 'val': 2.25}]},
 {'start_dt': '01/01/2015',
  'end_dt': '01/01/2016',
  'input_vars': [{'name': 'NATR:int', 'val': 30},
   {'name': 'Frac:double', 'val': 2.15}]}]

In [62]:
def formatOosBlock(start_dt,end_dt,input_vars):
    str = f'if Date > {start_dt} and Date <= {end_dt}:\n'
    for v in input_vars:
        n,t = v['name'].split(':')
        str += f'    {t} {n}({v["val"]})\n'
    #str += '\n'
    return str

In [65]:
for p in data2:
    str=formatOosBlock(p["start_dt"],p["end_dt"],p["input_vars"])
    print(str)

if Date > 01/01/2014 and Date <= 01/01/2015:
    int NATR(35)
    double Frac(2.25)

if Date > 01/01/2015 and Date <= 01/01/2016:
    int NATR(30)
    double Frac(2.15)

In [3]:
import json
j = json.dumps(data)

In [4]:
j

'[{"start_dt": "01/01/2014", "end_dt": "01/01/2015"}]'

In [5]:
data

[{'start_dt': '01/01/2014', 'end_dt': '01/01/2015'}]