In [1]:
import os
db_url = os.environ['DB_HEROKU']

KeyError: 'DB_HEROKU'

In [4]:
e=os.getenv("DB_HEROKU")
print(e)

None

In [2]:
#from base import Base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [3]:
print(db_url)

postgres://hiikokjjrwmqpg:ff6d83e0795990ffb048d526caf295eaad7a45476691991f989be513d4e3a6bb@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76

In [10]:
from market import Market
from base import Base,Session

In [11]:
engine = create_engine(db_url)
Base.metadata.bind = engine

In [12]:
db = Session()

In [32]:
def marketsDF():
    return db.query(Market.symbol,
                    Market.ts_symbol,
                    Market.name,
                    Market.default_session).all()

In [35]:
import pandas as pd
df=pd.DataFrame(marketsDF())

In [29]:
df

   symbol ts_symbol              name  default_session
0     @ES     @ES.D     Emini S&P 500                9
1     @YM     @YM.D      Emini Dow 30                9
2     @NQ     @NQ.D      Emini NASDAQ                9
3    @RTY    @RTY.D     Emini Russell                9
4    @EMD    @EMD.D  Emini MidCap 400                9
5     @CL       @CL         Crude Oil                7
6     @NG       @NG       Natural Gas                7
7     @RB       @RB     RBOB Gasoline                7
8     @HO       @HO       Heating Oil                7
9     @GC       @GC              Gold               10
10    @SI       @SI            Silver                3
11    @HG       @HG            Copper                2
12    @ZC       @ZC              Corn                5
13     @S        @S          Soybeans                5
14    @ZW       @ZW             Wheat                5
15    @LC       @LC       Live Cattle                6
16    @HE       @HE         Live Hogs                6
17    @ZM       @ZM      Soybean Meal                5
18    @ZL       @ZL       Soybean Oil                5
19  @CC-M     @CC-M             Cocoa                0
20  @KC-M     @KC-M            Coffee                0
21  @SB-M     @SB-M             Sugar                0
22  @CT-M     @CT-M            Cotton                0
23    @GE       @GE       Eurodollars                0
24    @ZB       @ZB     30 Year Bonds                0
25    @ZN       @ZN     10 Year Bonds                0
26    @ZF       @ZF      5 Year Notes                0
27    @ZT       @ZT      2 Year Notes                0
28    @ZQ       @ZQ         Fed Funds                0